*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
}
.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center ;
    /* background-color: yellowgreen; */
}
.signup__background{
    /* background-color: thistle; */
    width: 60%;
    height: 80%;
    border: 1px solid #AACDFF;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign__page{
    width: 100%;
    height: 30%;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}
.email__text{
    padding-left: 10px;
    width: 380px;
    height: 60px;
    left: 768px;
    top: 285px;
    border: 1px solid #0068FF;
    border-radius: 7px;
    font-size: 16px;
}

.background__back{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: tomato; */
}

.title{
    /* background-color: teal; */
    font-weight: 700;
    font-size: 32px;
    color: #0068FF;
    /* margin-bottom: 60px; */
}


.token__number{
    /* background-color: teal; */
    display: flex;
    flex-direction: row;
}

.timer{
    /* background-color: teal; */
    display: flex;
    flex-direction: row;
}

.area__home{
    /* background-color: teal; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signup__button{
    width: 100%;
    background-color: white;
    border: 1px solid #0068FF;
    border-radius: 10px;

    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #0068FF;
    
}

.divideLine {
    width: 70%;
    border-top: 1px solid gray;
}

.call__number{
    /* background-color: tomato ; */
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-size: 16px;
   font-weight: 700;
   
}
.password{
    padding-left: 10px;
    width: 100px;
    height: 40px;
    left: 768px;
    top: 285px;
    border: 1px solid #0068FF;
    border-radius: 7px;
    /* font-size: 16px; */
}
#pw__text{
    width: 11px;
    height: 0px;
    left: 882px;
    top: 625px;
    margin: 0px 15px;

    border: 1px solid #000000;
}

.signup__button{
    width: 380px;
height: 75px;
left: 770px;
top: 949.94px;
}